* {
  box-sizing: border-box;
}

body {
  font-family: arial;
  font-size: 1.5em;
}

h1 {
  text-align: center;
}

.switcher {
  display: none;
}

.cute-class {
  font-family: 'Vibur', cursive;
  color: #555152;
  background-color: #A8E6CE;
}

.nature-class {
  font-family: 'Lobster Two', cursive;
  color: white;
  background: url(https://user-images.githubusercontent.com/13243031/26836819-e0554566-4aa9-11e7-87e1-c160e5c8e398.jpg); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #E5EEAD;
}

.cookie-class {
  font-family: 'Patua One', cursive;
  background: url(https://emojipedia-us.s3.amazonaws.com/cache/c9/0f/c90ff0f477d10b79127834d190c627fd.png);
  color: #755C3B;
}

.todo {
  font-size: 1.2em;
  padding: 0em 6em;
}

.container {
  padding: 1em 3em;
}

footer p {
  font-size: .5em;
  color: #888888;
}

.sidebar {
  display: block;
  text-align: left;
  padding: .2em 0em;
  float: none;
  text-decoration: none;
  color: black;
}

#clear-all {
  float:left;
  color: white;
  text-decoration: none;
  font-size: .8em;
  padding-top: 16px;
}

#sidebar-links {
  padding: .5em 1em;
  font-size: .8em;
}

#hamburger-menu {
  padding: .5em 1em;
  display: relative;
  text-decoration: none;
  color: black;
  font-family: monospace;
}

#sidebarOpen {
  color: black;
}

.nature-class .sidebar {
  color:white;
}

.nature-class #hamburger-menu {
  color: white;
}
/* Remove margins and padding from the list */

ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */

ul li {
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  list-style:none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cookie-class ul li {
  background: #FCFBE3;    
}

.cute-class ul li {
  background: #DCEDC2;    
}

.nature-class ul li {
  background: #2c2b4b;    
}



/* Set all odd list items to a different color (zebra-stripes) */

ul li:nth-child(odd) {
  background: #f9f9f9;
}

.cute-class ul li:nth-child(odd) {
  background: #DCEDC2;
}

.cookie-class ul li:nth-child(odd) {
  background: #CDBB99;
}

.nature-class ul li:nth-child(odd) {
  background: #333333;
}

.nature-class span {
  color: #9ddacb;
}

/* Darker background-color on hover */

ul li:hover {
  background: #ddd;
}

.cute-class ul li:hover {
  background: #A8E6CE;
}

.cookie-class ul li:hover {
  background: #FBCFCF;
}

.nature-class ul li:hover {
  background: #a75293;
}

/* When clicked on, add a background color and strike out text */

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Style the header */

.header {
  background-color: lightblue;
  padding: 1em 4em;
  color: white;
  text-align: center;
}

.cookie-class .header {
  background-color: #A37E58;
  color: #FCFBE3;
}

.nature-class .header {
  background-color: #2c2b4b;
  color: #D4ECDF;
}

.cute-class .header {
  background-color: #FF8C94;
  color: white;
}

/* Clear floats after the header */

.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */

input {
  border: none;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */

.add-todo {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  text-align: center;
  font-size: 16px;
  border: none;
}

.cookie-class .add-todo {
  background: #755C3B;
  color: #FBCFCF;
}

.nature-class .add-todo {
  background: #D4ECDF;
  color: #878A6F;
}

.cute-class .add-todo {
  background: #FFD3B5;
  color: #555152;
}

.add-todo:hover {
  background-color: #bbb;
}

.nature-class .add-todo:hover {
  background-color: #FBAFA2;
}

.nature-class .add-todo:hover {
  background-color: #f8dcb4;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: .7em;
  }

  input {
    font-size: 1em;
  }

  #clear-all {
    font-size: 1.5em;
  }

  .add-todo {
    padding: 7.5px;
  }

  nav {
    font-size: 3em;
  }
}

@media (min-width: 1224px) {

  .container {
    padding: 1em 10em;
  }

}

@media (min-width: 2000px) {

  .container {
    padding: 1em 20em;
  }

}